 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #203F2D;
active-foreground: #B6CFBC;
normal-background: #101113;
normal-foreground: #B6CFBC;
urgent-background: #203F2D;
urgent-foreground: #B6CFBC;

alternate-active-background: #1D392B;
alternate-active-foreground: #B6CFBC;
alternate-normal-background: #101113;
alternate-normal-foreground: #B6CFBC;
alternate-urgent-background: #101113;
alternate-urgent-foreground: #B6CFBC;

selected-active-background: #203F2D;
selected-active-foreground: #101113;
selected-normal-background: #203F2D;
selected-normal-foreground: #101113;
selected-urgent-background: #1D392B;
selected-urgent-foreground: #101113;

background-color: #101113;
background: rgba(0,0,0,0.7);
foreground: #B6CFBC;
border-color: #203F2D;

color0: #38393B;
color1: #060D14;
color2: #071015;
color3: #162B20;
color4: #182F22;
color5: #182F22;
color6: #225931;
color7: #8EB398;
color8: #637D6A;
color9: #08121B;
color10: #0A151C;
color11: #1D392B;
color12: #203F2D;
color13: #203F2D;
color14: #2E7741;
color15: #8EB398;


}

